.root {
  min-height: 100vh;
}

.header {
  padding: var(--gap) var(--gap) 24px var(--gap);
  border-bottom: var(--border);
}

.channels {
}

.title {
  margin-top: 12px;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  color: var(--primary-dark);
}

.spinnerContainer {
  padding-top: 45vh;
  width: 100%;
  text-align: center;
}

.user {
  margin-top: 24px;
}

.userDescription {
  display: inline-block;
  margin-left: 12px;
}

.userAvatar {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  vertical-align: -5px;
  background-color: #ddd;
}

.userName {
  line-height: 18px;
  font-size: 14px;
  color: var(--primary-neutral);
}

.publishTime {
  margin-top: 2px;
  line-height: 15px;
  font-size: 12px;
  color: var(--disabled-background);
}

.nav {
  z-index: 1;
  position: sticky;
  top: var(--nav-height);
  display: flex;
  border-bottom: var(--border);
  background-color: #faf9fc;
}

/**
 * FIXME: it would look bad on small screen. fix it
  */
.navItem {
  position: relative;
  flex: 1;
  text-align: center;
  overflow: visible;
  padding: var(--gap) 4px;
  color: #8c8c8c;
}

.navItem + .navItem::after {
  display: block;
  content: ' ';
  position: absolute;
  left: 0;
  top: 50%;
  height: 11px;
  width: 1px;
  border-left: var(--border);
  transform: translateY(-50%);
}

.navIcon {
  margin-right: 7px;
}

.activeNavItem {
  color: var(--complement);
}

.detail {
  padding: var(--gap) 0;
  border-bottom: var(--border);
}

.horizontalScroll {
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 12px;
}

.imageContainer {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 180px;
  width: 180px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ddd;
}

.imageContainer:first-child {
  margin-left: var(--gap);
}

.imageContainer + .imageContainer {
  margin-left: 12px;
}

.rightPadding {
  flex-shrink: 0;
  flex-grow: 0;
  width: var(--gap);
}

.description {
  position: relative;
  margin: 0 var(--gap);
  color: var(--primary-neutral);
  line-height: 18px;
  font-size: 14px;
  text-align: justify;
  text-justify: auto;
}

.truncated {
  max-height: 180px;
  overflow: hidden;
}

.truncateTail {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 57px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(250, 249, 252, 0.7) 30%,
    #faf9fc
  );
}

.truncateButton {
  position: absolute;
  bottom: 3px;
  right: 0;
  background-color: var(--complement);
  border-radius: 24px;
  padding: 8px 26px;
  line-height: 26px;
  font-size: 20px;
  color: var(--primary-neutral);
  font-weight: 500;
  transform: scale(0.5);
  transform-origin: bottom right;
}

.marginPlaceholder {
  height: var(--gap);
  margin-left: var(--gap);
  border-bottom: var(--border);
}

.detailSection {
  padding-top: var(--gap);
  margin: 0 var(--gap);
}

.sectionTitle {
  position: relative;
  padding-left: 8px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary);
}

.sectionTitle::before {
  content: ' ';
  border-radius: 2px;
  position: absolute;
  height: 18px;
  width: 4px;
  background-color: var(--primary);
  margin-left: -8px;
}

.timeDisplay {
  flex-shrink: 0;
  flex-grow: 0;
  width: 50%;
  text-align: center;
}

.timeDisplay + .timeDisplay {
  border-left: var(--border);
}

.timeDisplaySection {
  position: relative;
  display: flex;
}

.dateLine {
  margin-top: var(--gap);
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-neutral);
}

.dateIcon {
  margin-right: 4px;
}

.timeLine {
  color: var(--complement-dark);
  font-size: 32px;
  line-height: 40px;
  font-weight: 300;
}

.suffix {
  font-size: 12px;
  margin-left: 4px;
}

.addressFirstLine,
.addressSecondLine {
  color: var(--primary-neutral);
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
}

.addressFirstLine {
  margin-top: 8px;
  font-weight: 600;
}

.mapContainer,
.map {
  width: 100%;
  height: 88px;
}

.mapContainer {
  margin-top: 8px;
  border-radius: 12px;
  overflow: hidden;
}

.commentSection {
  padding: 24px var(--gap) var(--gap);
}

.commentItem {
  display: flex;
}

.commentItem + .commentItem {
  margin-top: var(--gap);
}

.commentAuthorAvatar {
  flex-shrink: 0;
  flex-grow: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.commentContentContainer {
  flex: 1;
  margin-left: 12px;
}

.commentContent {
  font-size: 14px;
  line-height: 18px;
  color: var(--primary-neutral);
}

.replyButton {
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  padding: 0 0 0 8px;
  width: 24px;
}

.replyIcon {
  position: absolute;
  left: 8px;
  top: 0;
}

.commentAuthor {
  font-size: 12px;
  line-height: 15px;
  color: var(--primary);
}

.commentCreateTime {
  margin-left: 12px;
  font-size: 10px;
  color: #bababa;
}

.bottomToolBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.likeButton,
.commentButton,
.goButton {
  padding: var(--gap);
}

.likeButton,
.commentButton {
  flex-grow: 3;
  flex-shrink: 0;
  background-color: var(--primary);
}

.goButton {
  flex-grow: 4;
  flex-shrink: 0;
  width: 120px;
  background-color: var(--complement);
  color: var(--complement-dark-2);
  font-size: 14px;
  line-height: 18px;
}

.bottomToolBarPlaceholder {
  height: 56px;
}

.goIcon {
  margin-right: 12px;
}

.commentForm {
  display: flex;
  width: 100%;
}

.inputContainer {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--primary);
  display: flex;
  align-items: center;
}

.submitCommentButton {
  flex-grow: 0;
  flex-shrink: 0;
  background-color: var(--complement);
  padding: var(--gap) 18px;
}

.closeComment {
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: 6px;
  padding: 16px 4px;
}

.commentInput {
  flex-shrink: 1;
  flex-grow: 1;
  margin-left: 6px;
  margin-right: 14px;
  border-radius: 20px;
  padding: 7px 19px;
  font-size: 14px;
  line-height: 18px;
  color: var(--primary-neutral);
  background-color: #fff;
}

.commentInput::placeholder {
  color: var(--primary-light);
  font-size: 14px;
  line-height: 18px;
}

.mention {
  text-decoration: underline;
  color: var(--primary);
}

.goingUserList,
.likingUserList {
  flex: 1;
  display: flex;
  padding: var(--gap);
  align-items: center;
}

.goingUserList {
  padding-bottom: 0;
}

.likingUserList {
  border-bottom: var(--border);
}

.userListTitle {
  width: 77px;
  flex-shrink: 0;
  flex-grow: 0;
  color: var(--primary-neutral);
  font-size: 12px;
  line-height: 15px;
  align-self: flex-start;
  margin-top: 4px;
}

.userListIcon {
  margin-right: 5px;
}

.userAvatarItem {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.userAvatarItem + .userAvatarItem {
  margin-left: 7px;
}

.userAvatarList {
  flex: 1;
  position: relative;
}

.expandUserList {
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--primary-light);
  background-color: var(--global-background);
  padding: 0;
}

.userAvatarLine {
  display: flex;
  justify-content: space-between;
}

.userAvatarLine + .userAvatarLine {
  margin-top: 12px;
}