.root {
  display: block;
  margin-left: var(--gap);
  padding: var(--gap) var(--gap) var(--gap) 0;
}

.root + .root {
  border-top: var(--border);
}

.head {
  display: flex;
  justify-content: space-between;
}

.user {
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  background-color: #ccc;
}

.userName {
  font-size: 12px;
  font-weight: 600;
  margin-left: 8px;
  line-height: 15px;
  color: var(--primary-neutral);
}

.title {
  display: block;
  margin-top: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: var(--primary-dark);
}

.time {
  display: block;
  margin-top: 8px;
}

.timeIcon {
  vertical-align: middle;
}

.timeText {
  margin-left: 5px;
  font-size: 12px;
  line-height: 15px;
  color: var(--primary);
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 18px;
  font-size: 14px;
  color: var(--primary-neutral);
  margin-top: 12px;
}

.actions {
  margin-top: 12px;
}

.actionIcon {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.actionButton {
  color: #AC8EC9;
  height: 15px;
  padding: 0;
  line-height: 15px;
  font-size: 12px;
}

.goingButton {
}

.likeButton {
  margin-left: 30px;
}

.activeButton {
  color: var(--primary-dark);
}
