.spinnerContainer {
  padding: 10px 0;
  text-align: center;
}

.searchStatus {
  padding: 12px var(--gap);
  background-color: var(--background);
}

.topAnchor {
  position: absolute;
  top: 0;
}

.searchResultStatus {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchResultCount {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: var(--primary);
}

.searchDetail {
  font-size: 12px;
  margin-top: 11px;
  color: var(--primary-neutral);
  line-height: 15px;
}

.clearSearchButton {
  padding: 6px 10px;
  font-size: 10px;
  line-height: 13px;
  color: var(--primary-neutral);
  background-color: var(--complement);
  border-radius: 12px;
}