.root {
  position: relative;
  padding: 10px var(--gap);
  text-align: center;
  height: 100%;
}

.sectionTitle {
  display: inline-block;
  padding-top: 10px;
  font-size: 12px;
  color: #AC8EC9;
  font-weight: 600;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--primary);
  margin-bottom: 7px;
}

.dateTag {
  padding: 3px 8px;
  margin-top: 5px;
  border-radius: 12px;
  line-height: 18px;
  font-size: 14px;
  color: #E8E8E8;
  outline:0;
}

.dateTag.active {
  background-color: var(--complement-light);
  color: var(--primary-dark);
}

.dateTagSection {
  text-align: left;
}

.secondChannel {
  margin-top: 24px;
}

.channelTagSection {
  text-align: left;
  margin-bottom: 4px;
}

.channelTag {
  padding: 4px 8px;
  border-radius: 12px;
  border: 1px solid #D3C1E5;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  margin-right: 12px;
  margin-top: 9px;
}

.channelTag.active {
  border: 1px solid var(--complement-light);
  background-color: var(--complement-light);
  color: var(--primary-dark);
}

.submit {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: var(--gap) var(--gap) 13px var(--gap);
  background-color: var(--complement);
}

.submitText {
  font-size: 16px;
  line-height: 20px;
  color: var(--primary-dark);
  font-weight: 600;
}

.searchIcon {
  margin-right: 6px;
}

.searchText {
  margin-top: 3px;
  font-size: 10px;
  color: var(--primary);
  line-height: 13px;
}

.dateInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px;
  margin-top: 12px;
  background-color: #fff;
}

.dateInputContainer::after {
  position: absolute;
  top: -4px;
  left: 24px;
  content: ' ';
  display: block;
  width: 8px;
  height: 8px;
  transform: rotateZ(45deg);
  background-color: #fff;
}

.fakeDateInput {
  position: relative;
  text-align: center;
  flex-shrink: 0;
  flex-grow: 0;
  width: 73px;
  height: 18px;
  font-size: 14px;
  line-height: 18px;
  color: var(--primary);
}

.dateSeperator {
  display: inline-block;
  width: 6px;
  height: 1px;
  background-color: rgba(0,0,0,.09);
}

.dateInput {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  color: transparent;
  -webkit-appearance: none;
}

.dateInput:focus {
  outline: none;
  background-color: var(--complement);
  opacity: .5;
}
