.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 75vw;
  max-width: 300px;
  height: calc(100% + 0px);
  perspective: 800px;
}

.content {
  width: 100%;
  height: 100%;
  background-color: var(--primary-dark);
  transform: scale(0.96) rotate3d(1, 0, 0, -3deg);
  transform-origin: center center;
  transition: transform .35s ease;
  transition-delay: .13s;
}

.active {
  transform: scale(1);
}