.root {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: var(--nav-height);
  text-align: center;
  padding: 8px 16px;
  background: var(--primary);
}

.logo {
  width: 21px;
  height: 24px;
}

.left {
  width: 24px;
  height: 24px;
  float: left;
}

.right {
  width: 24px;
  height: 24px;
  float: right;
}

.avatar {
  width: 24px;
  height: 24px;
  background-color: rgba(200, 200, 200, .5);
  border-radius: 50%;
  overflow: hidden;
}
