.root {
  background: transparent;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: var(--nav-height);
  text-align: center;
  padding: 8px 16px;
  background: var(--primary);
  transition: transform .3s ease;
  transform: none;
}

.logo {
  width: 21px;
  height: 24px;
}

.left {
  padding: 0;
  width: 24px;
  height: 24px;
  float: left;
}

.right {
  width: 24px;
  height: 24px;
  float: right;
}

.avatar {
  width: 24px;
  height: 24px;
  background-color: rgba(200, 200, 200, .5);
  border-radius: 50%;
  overflow: hidden;
}

.sidePanelActive {}

@media (max-width: 400px) {
  .sidePanelActive {
    transform: translateX(75%);
  }
}

@media (min-width: 400px) {
  .sidePanelActive {
    transform: translateX(300px);
  }
}
