:root {
  --primary: #8560A9;
  --primary-neutral: #67616D;
  --primary-light: #D3C1E5;
  --primary-dark: #453257;
  --background: #FAF9FC;
  --complement: #D5EF7F;
  --complement-dark: #AECB4F;
  --complement-dark-2: #788C36;
  --complement-light: #E5F7A9;
  --disabled-background: #BABABA;
  --disabled-text: #666;
  --gap: 16px;
  --global-background: #faf9fc;
  --nav-height: 40px;

  --border: 1px solid #e8e8e8;
}

html {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
}

:global(#root) {
  background-color: #fff;
}
